Repository KshitijChandrakar/FinanceApp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint-reformat

black:
  name: Black (Python formatting)
  entry: python -m black
  language: system
  args: []
  require_serial: true

djlint-reformat:
  name: DjLint (reformat templates)
  entry: python -m djlint
  language: system
  args:
  - --reformat
  pass_filenames: true

Update readme.md
  readme.md
Due: none

init django
  finance/finance/__init__.py
  finance/finance/asgi.py
  finance/finance/settings.py
  finance/finance/urls.py
  finance/finance/wsgi.py
  finance/manage.py
Due: black

django 2
  finance/ui/__init__.py
  finance/ui/admin.py
  finance/ui/apps.py
  finance/ui/migrations/__init__.py
  finance/ui/models.py
  finance/ui/tests.py
  finance/ui/views.py
Due: black

Added basic features
  finance/finance/settings.py
  finance/finance/urls.py
  finance/templates/base.html
  finance/ui/migrations/0001_initial.py
  finance/ui/models.py
  finance/ui/templates/base.html
  finance/ui/templates/ui/AddTransaction.html
  finance/ui/templates/ui/home.html
  finance/ui/templates/ui/summary.html
  finance/ui/urls.py
  finance/ui/views.py
Due: black, djlint-reformat

Added all functions without styling
  finance/finance/settings.py
  finance/static/css/tachyons.css
  finance/static/css/tailwind.css
  finance/ui/models.py
  finance/ui/templates/base.html
  finance/ui/templates/ui/AddTransaction.html
  finance/ui/templates/ui/PreviousTransactions.html
  finance/ui/templates/ui/home.html
  finance/ui/templates/ui/style.html
  finance/ui/templates/ui/summary.html
  finance/ui/urls.py
  finance/ui/views.py
Due: black, djlint-reformat

Added all functions fr now
  finance/ui/templates/ui/AddTransaction.html
  finance/ui/views.py
Due: black, djlint-reformat

Added Excel Import Export
  finance/ui/Excel.py
  finance/ui/Export.py
  finance/ui/summary.json
  finance/ui/template.pdf
  finance/ui/template.typ
  finance/ui/templates/ui/excel.html
  finance/ui/templates/ui/home.html
  finance/ui/templates/ui/summary.html
  finance/ui/urls.py
  finance/ui/views.py
Due: black, djlint-reformat

Prefinal
  .gitignore
  Procfile
  build.sh
  finance/finance/settings.py
  requirements.txt
Due: black

Prefinal
  build.sh
  finance/__init__.py
  finance/asgi.py
  finance/finance/__init__.py
  finance/settings.py
  finance/urls.py
  finance/wsgi.py
  manage.py
  render.yaml
  requirements.txt
  static/css/tachyons.css
  static/css/tailwind.css
  templates/base.html
  ui/Excel.py
  ui/Export.py
  ui/__init__.py
  ui/admin.py
  ui/apps.py
  ui/migrations/0001_initial.py
  ui/migrations/__init__.py
  ui/models.py
  ui/summary.json
  ui/template.pdf
  ui/template.typ
  ui/templates/base.html
  ui/templates/ui/AddTransaction.html
  ui/templates/ui/PreviousTransactions.html
  ui/templates/ui/excel.html
  ui/templates/ui/home.html
  ui/templates/ui/style.html
  ui/templates/ui/summary.html
  ui/tests.py
  ui/urls.py
  ui/views.py
Due: black, djlint-reformat

Prefinal1
  render.yaml
Due: none

Change Name of app
  render.yaml
Due: none

Change Name of app
  Procfile
Due: none

Almost Everything Done
  ui/Export.py
  ui/templates/ui/home.html
  ui/templates/ui/summary.html
  ui/templates/ui/typst.html
Due: black, djlint-reformat

Overhawl 1
  ui/templates/ui/AddTransaction.html
  ui/templates/ui/excel.html
  ui/templates/ui/home.html
  ui/templates/ui/summary.html
  ui/urls.py
Due: black, djlint-reformat

Overhawl 1
  singlepage/home.html
  ui/urls.py
Due: black, djlint-reformat

Create static.yml
  .github/workflows/static.yml
Due: none

Try 3
  deploy.sh
  singlepage/index.html
Due: djlint-reformat

Try 5
  singlepage/1.js
  singlepage/2.html
  singlepage/2.js
  singlepage/3.html
  singlepage/index.html
  singlepage/tachyons.css
  ui/templates/ui/home.html
Due: djlint-reformat

Try 6
  singlepage/0.html
  singlepage/3.html
  singlepage/index.html
Due: djlint-reformat

ansh accept 1
  singlepage/index.html
  singlepage/indexOld.html
Due: djlint-reformat

Ansh Accept 2
  singlepage/Ansh.html
  singlepage/indexOldOld.html
Due: djlint-reformat

Ansh accept 3
  singlepage/Ansh.html
  singlepage/index.html
Due: djlint-reformat

Path conditions:
  black: any of: \.py$
  djlint-reformat: any of: \.(html|jinja|jinja2|django)$
